.banner {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    @include mobile {
        justify-content: center;
        flex-direction: column;
    }
    &-photographe {
        margin-top: 45px;
    }
    img {
        height: 50px;
        width: 200px;
        @include mobile {
            height: 37.5px;
            width: 150px;
        }
    }
    nav {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: 16px 0 11px 0;
        margin: 0 60px;
        button {
            margin: 0 2px 5px 2px;
        }
    }
    .empty {
        min-width: 318px;
    }
}