.lightbox-bg {
    background-color: $color-white;
}

.lightbox-content {
    position: relative;
    margin: 60px auto;
    width: 85%;
    @include mobile {
        top: 33vh;
        width: 100%;
        margin: auto auto;
    }
  
}

.lightbox-gallery {
    &-item {
        display: none;
        width: inherit;
        margin: 0 85px;
        @include mobile {
            margin: 0 45px;
        }
        img, video {
            width: 100%;
            height: 900px;
            object-fit: cover;
            @include mobile {
                height: 33vh;
            }
        }
    }
}