.lightbox-bg {
    background-color: $color-white;
}

.lightbox-content {
    position: relative;
    margin: 60px auto;
    width: 100%;
    max-width: 1250px;
    @include mobile {
        top: 33vh;
        margin: 0 auto;
    }
  
}

.lightbox-gallery {
    &-item {
        display: none;
        width: auto;
        max-width: 1050px;
        margin: auto;
        @include mobile {
            margin: 0 45px;
        }
        img, video {
            width: 100%;
            height: 900px;
            object-fit: cover;
            @include mobile {
                height: 33vh;
            }
        }
    }
}