@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
html {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 100%;
}

.tag {
  font-size: 0.75rem;
  font-weight: 500;
  color: #901C1C;
}

.photographes-titre {
  color: #901C1C;
  font-size: 2.25rem;
  line-height: 50px;
}

.index-profile h2 {
  color: #D3573C;
  font-size: 2.25rem;
  text-align: center;
}
.index-profile .location {
  color: #901C1C;
  font-size: 0.8125rem;
  text-align: center;
}
.index-profile .tagline {
  color: #000000;
  font-size: 0.625rem;
  text-align: center;
}
.index-profile .price {
  color: #757575;
  font-size: 0.5625rem;
  text-align: center;
}

.profile-info-name {
  color: #D3573C;
  font-size: 4rem;
  font-weight: 300;
}
@media all and (max-width: 899px) {
  .profile-info-name {
    font-size: 2.25rem;
  }
}
.profile-info-loc {
  color: #901C1C;
  font-size: 1.5rem;
}
@media all and (max-width: 899px) {
  .profile-info-loc {
    font-size: 0.8125rem;
  }
}
.profile-info-tagline {
  color: #525252;
  font-size: 1.125rem;
}
@media all and (max-width: 899px) {
  .profile-info-tagline {
    font-size: 0.8125rem;
  }
}
.profile-info-tags .tag {
  font-size: 1.125rem;
}
@media all and (max-width: 899px) {
  .profile-info-tags .tag {
    font-size: 0.8125rem;
  }
}
.profile-info-bottom {
  color: #000000;
  font-size: 1.5rem;
  font-weight: 500;
}
.profile-info-bottom i {
  font-size: 1.35rem;
}

.modal-contact h1 {
  font-size: 4rem;
  font-weight: 300;
  line-height: 110%;
}
@media all and (max-width: 899px) {
  .modal-contact h1 {
    font-size: 2.25rem;
  }
}
.modal-contact label, .modal-contact input {
  font-size: 2.25rem;
}
.modal-contact i {
  color: #FFFFFF;
  font-size: 3rem;
}

.pictures .pic-sort-title {
  color: #000000;
  font-size: 1.125rem;
  font-weight: 700;
}
.pictures .pic-sort-title-selector {
  color: #FFFFFF;
}
.pictures-item-info {
  color: #901C1C;
  font-size: 1.5rem;
}
@media all and (max-width: 899px) {
  .pictures-item-info {
    font-size: 0.875rem;
  }
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

* a:link, * a:visited, * a:hover, * a:focus, * a:active {
  display: block;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

html {
  position: relative;
  max-width: 1415px;
  margin: auto;
  padding: 0 50px;
}
@media all and (max-width: 899px) {
  html {
    padding: 0 20px;
  }
}

.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.tag {
  padding: 3px 5px;
  background-color: #FFFFFF;
  border: 0.5px solid #c5c5c5;
  border-radius: 11px;
}
.tag-btn:hover, .tag-btn:focus, .tag-btn:active {
  background-color: #901C1C;
  color: #FFFFFF;
  cursor: pointer;
}

.btn {
  width: 170px;
  height: 69px;
  background-color: #901C1C;
  color: #FFFFFF;
  border: none;
  font-size: 1.125rem;
  font-weight: 700;
  border-radius: 5px;
}
.btn:hover, .btn:focus {
  background-color: #DB8876;
  color: #000000;
  cursor: pointer;
}

.close {
  background-color: #DB8876;
  border: none;
  position: absolute;
  top: 35px;
  right: 35px;
  cursor: pointer;
}
.close-lightbox {
  background-color: #FFFFFF;
}
.close-lightbox i {
  color: #901C1C;
}

.pic-sort {
  display: flex;
  flex-direction: row;
  padding-top: 15px;
}
.pic-sort-buttons {
  position: absolute;
  left: 150px;
  z-index: 1;
  margin-left: 15px;
  margin-top: -18px;
  display: flex;
  flex-direction: column;
  background-color: #901C1C;
  border-radius: 5px;
  box-shadow: 0 3px 10px #525252;
}
.pic-sort-buttons .arrow {
  position: absolute;
  top: 25px;
  right: 18px;
  color: #FFFFFF;
}
.pic-sort-buttons .rollup-select {
  display: none;
}
.pic-sort-buttons button {
  text-align: left;
  padding-left: 20px;
  width: 170px;
  height: 69px;
  background-color: #901C1C;
  color: #FFFFFF;
  border: none;
  font-size: 1.125rem;
  font-weight: 700;
  border-radius: 5px;
}
.pic-sort-buttons button:hover {
  font-size: 1.2rem;
}
.pic-sort-buttons button:focus {
  color: #DB8876;
}
.pic-sort-buttons .line-separate {
  align-self: center;
  height: 1px;
  width: 150px;
  background-color: #FFFFFF;
}
.pic-sort-buttons .date, .pic-sort-buttons .title, .pic-sort-buttons .line-separate {
  position: absolute;
  top: 0;
  z-index: -1;
}
.pic-sort-buttons .show {
  position: relative;
  top: auto;
  z-index: 0;
}
@media all and (max-width: 899px) {
  .pic-sort {
    display: none;
  }
}

.banner {
  display: flex;
  justify-content: space-between;
}
@media all and (max-width: 899px) {
  .banner {
    justify-content: center;
    flex-direction: column;
  }
}
.banner-photographe {
  margin-top: 45px;
}
.banner img {
  height: 50px;
  width: 200px;
}
@media all and (max-width: 899px) {
  .banner img {
    height: 37.5px;
    width: 150px;
  }
}
.banner nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 16px 0 11px 0;
  margin: 0 60px;
}
.banner nav button {
  margin: 0 2px 5px 2px;
}
.banner .empty {
  min-width: 318px;
}

.index {
  display: grid;
  grid-template-columns: repeat(auto-fill, 27%);
  justify-content: space-between;
  gap: 30px 100px;
  margin: 70px 0;
}
@media all and (max-width: 899px) {
  .index {
    grid-template-columns: auto;
    justify-content: center;
  }
}
.index-profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.index-profile a {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}
.index-profile a img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  object-fit: cover;
  margin: 20px;
}
.index-profile p {
  margin: 5px 0;
}
.index-profile p:last-child {
  margin: -2px 0;
}
.index-profile-tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.index-profile-tags .tag {
  display: inline;
  margin: 10px 5px 0 0;
  padding: 3px 5px;
  background-color: #FFFFFF;
  border: 0.5px solid #c5c5c5;
  border-radius: 11px;
}
.index .hide {
  display: none;
}

.profile {
  display: flex;
  justify-content: space-between;
  min-height: 313px;
  padding: 55px 45px;
  margin: 40px 0 20px 0;
  background-color: #FAFAFA;
}
@media all and (max-width: 899px) {
  .profile {
    min-height: auto;
    padding: 0 0;
    margin: 30px 0 45px 0;
    background-color: #FFFFFF;
  }
}
.profile-info {
  display: flex;
  width: fit-content;
  flex-direction: column;
  justify-content: space-between;
  padding-right: 40px;
}
@media all and (max-width: 899px) {
  .profile-info {
    padding-right: 0px;
    margin-right: -40px;
  }
}
.profile-info-tags {
  display: flex;
  flex-wrap: wrap;
}
.profile-info-tags .tag {
  display: inline;
  margin: 10px 5px 0 0;
  padding: 3px 5px;
  background-color: #FFFFFF;
  border: 0.5px solid #c5c5c5;
  border-radius: 11px;
}
.profile-info-bottom {
  position: fixed;
  display: flex;
  justify-content: space-between;
  min-width: 375px;
  bottom: 0vh;
  right: 50px;
  padding: 20px 30px;
  background-color: #DB8876;
  border-radius: 5px 5px 0 0;
}
@media all and (max-width: 899px) {
  .profile-info-bottom {
    display: none;
  }
}
.profile-contact {
  display: flex;
  flex: 3;
  padding-right: 60px;
}
@media all and (max-width: 899px) {
  .profile-contact {
    position: fixed;
    bottom: 40px;
    left: 50%;
    width: 170px;
    height: 35px;
    margin-left: -85px;
  }
}
.profile-portrait {
  display: flex;
  width: 200px;
  justify-content: center;
  align-items: center;
}
@media all and (max-width: 899px) {
  .profile-portrait {
    width: 100px;
    align-items: flex-start;
  }
}
.profile-portrait img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  object-fit: cover;
  margin: 0px;
}
@media all and (max-width: 899px) {
  .profile-portrait img {
    width: 100px;
    height: 100px;
  }
}

.bg {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  height: 100%;
  width: 100%;
  background-color: rgba(196, 196, 196, 0.4);
}

.modal-contact {
  position: absolute;
  width: 700px;
  height: 80vh;
  max-height: 900px;
  overflow: scroll;
  left: 50%;
  margin-left: -350px;
  margin-top: 75px;
  background-color: #DB8876;
  opacity: 1;
  border-radius: 5px;
  padding: 35px;
}
@media all and (max-width: 899px) {
  .modal-contact {
    height: 100vh;
    width: 100vw;
    left: 0;
    margin-left: 0;
    margin-top: 0;
    border-radius: 0;
    padding: 20px;
  }
}
.modal-contact form {
  margin-top: 20px;
}
.modal-contact input {
  width: 100%;
  height: 70px;
  border-radius: 5px;
  border: none;
}
.modal-contact input:last-child {
  width: 170px;
  height: 69px;
  background-color: #901C1C;
  color: #FFFFFF;
  border: none;
  font-size: 1.125rem;
  font-weight: 700;
  border-radius: 5px;
}
.modal-contact input:last-child:hover, .modal-contact input:last-child:focus {
  background-color: #DB8876;
  color: #000000;
  cursor: pointer;
}
.modal-contact #message {
  height: 170px;
  margin-bottom: 25px;
  overflow: scroll;
}

.pic-grid {
  position: relative;
  top: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 30px 8%;
  margin-top: 60px;
}
@media all and (max-width: 899px) {
  .pic-grid {
    flex-direction: column;
    flex-wrap: nowrap;
    margin-top: 50px;
  }
}
.pic-grid .pictures-item {
  width: 28%;
}
@media all and (max-width: 899px) {
  .pic-grid .pictures-item {
    width: 100%;
    margin-bottom: 10px;
  }
}
.pic-grid .pictures-item img, .pic-grid .pictures-item video {
  width: 100%;
  height: 300px;
  border-radius: 5px;
  object-fit: cover;
}
.pic-grid .pictures-item-info {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}
.pic-grid .pictures-item-info p {
  white-space: nowrap;
}
.pic-grid .pictures-item-info p:first-child {
  flex: 50%;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}
.pic-grid .pictures-item-info p:nth-child(2) {
  margin-right: 15px;
}

.appear-when-scroll {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  background-color: #FFFFFF;
  opacity: 0;
  transition: 200ms;
}
.appear-when-scroll-link {
  text-align: center;
  line-height: 30px;
  width: 182px;
  height: 30px;
  background-color: #901C1C;
  color: #FFFFFF;
  border: none;
  font-size: 1.125rem;
  font-weight: 700;
  border-radius: 5px;
}
.appear-when-scroll-link:hover, .appear-when-scroll-link:focus {
  background-color: #DB8876;
  color: #000000;
  cursor: pointer;
}

.photographes h1 {
  position: absolute;
  top: 45px;
  right: 50px;
  text-align: center;
}
@media all and (max-width: 899px) {
  .photographes h1 {
    right: 20px;
    font-size: 0.875rem;
    line-height: 37.5px;
  }
}

/*# sourceMappingURL=style.css.map */
