.tag {
    @include tag-static ;
    &-btn:hover, &-btn:focus, &-btn:active{
        @include tag-dynamic;
    }
}

.btn {
    @include btn-static;
    &:hover, &:focus {
        @include btn-dynamic;
    }
}

.stay-selected {
    @include btn-dynamic;
}

.close{
    background-color: $color-btn-dynamic;
    border: none;
    position: absolute;
    top: 35px; right: 35px;
    &:hover > em, &:focus > em {
        color: $color-primary;
    }
        @include mobile {
            top: 20px; right: 20px;
        }
    cursor: pointer;
    &-lightbox {
        top: 5px;
        background-color: $color-white;
        &:hover > em, &:focus > em {
            color: $color-btn-dynamic;
        }
        em {
            color: $color-primary;
            font-size: 2.5rem;
            &:hover, &:focus {
                color: $color-btn-dynamic
            }
            @include mobile {
                font-size: 1rem;
            }
        }
    }
}

.skip{
    border: none;
    position: absolute;
    top : calc(50% - 20px);
    cursor: pointer;
    &:hover > em, &:focus > em {
        color: $color-btn-dynamic;
    }
    &-left{
        left: 35px;
        @include mobile {
            left: 25px;
        }
    }
    &-right{
        right: 35px;
        @include mobile {
            right: 25px;
        }
    }
    em {
        color: $color-primary;
        font-size: 2.5rem;
        @include mobile {
            font-size: 1rem;
        }
    }
}