.tag {
    @include tag-static ;
    &-btn:hover, &-btn:focus, &-btn:active{
        @include tag-dynamic;
    }
}

.btn {
    @include btn-static;
    &:hover, &:focus {
        @include btn-dynamic;
    }
}

.close{
    background-color: $color-btn-dynamic;
    border: none;
    position: absolute;
    top: 35px; right: 35px;
    cursor: pointer;
    &-lightbox {
        background-color: $color-white;
        i {
            color: $color-primary;
        }
    }
}