.tag {
    @include tag-static ;
    &-btn:hover, &-btn:focus, &-btn:active{
        @include tag-dynamic;
    }
}

.btn {
    @include btn-static;
    &:hover, &:focus {
        @include btn-dynamic;
    }
}

.close{
    background-color: $color-btn-dynamic;
    border: none;
    position: absolute;
    top: 35px; right: 35px;
    cursor: pointer;
    &-lightbox {
        top: 5px;
        background-color: $color-white;
        i {
            color: $color-primary;
            font-size: 2.5rem;
        }
    }
}

.skip{
    border: none;
    position: absolute;
    top : calc(50% - 20px);
    cursor: pointer;
    &-left{
        left: 35px;
    }
    &-right{
        right: 35px;
    }
    i {
        color: $color-primary;
        font-size: 2.5rem;
    }
}