*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*a:link, *a:visited, *a:hover, *a:focus, *a:active {
    display: block;
    text-decoration: none;
}

html {
    margin: 0 50px;
    @include mobile {
        margin : 0 20px;
    }
}