.appear-when-scroll {
    position: sticky;
    top : 0;
    display: none;
    justify-content: center;
    align-items: center;
    height: 45px;
    background-color: $color-white;
    transition: 200ms;
    &-link {
        text-align: center;
        line-height: 30px;
        @include btn-static(182px,30px);
        &:hover, &:focus {
            @include btn-dynamic;
        }
    }
}

.photographes h1 {
    position: absolute;
    top : 45px ; right : 50px;
    text-align: center;
    @include mobile {
        right: 20px;
        font-size: 0.875rem;
        line-height: 37.5px;
    }
}