@mixin portrait-img ($margin:20px){
    height: 200px;
    width: 200px;
    border-radius: 50%;
    box-shadow: inset 15px 15px rgba($color: $color-lightgrey, $alpha: 0.9);
    object-fit: cover;
    margin : $margin;
}

@mixin tag-static {
    padding: 3px 5px;
    background-color: $color-white;
    border : 0.5px solid lighten($color: $color-grey, $amount: 45%);
    border-radius: 11px;
}

@mixin tag-dynamic {
    background-color: $color-primary;
    color: $color-white;
    cursor: pointer;
}

@mixin btn-static ($width:170px, $height:69px, $radius:5px) {
    width: $width;
    height: $height;
    background-color: $color-primary;
    color: $color-white;
    border: none;
    font-size: 1.125rem;
    font-weight: 700;
    border-radius: $radius;
}

@mixin btn-dynamic {
    background-color: $color-btn-dynamic;
    color: $color-black;
    cursor: pointer;
}

@mixin mobile {
    @media all and (max-width:899px){
        @content
    }
}